#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/local/bin/idea-IC-14.1.1/bin/idea.png
Name[en_US]=Idea
Exec=env JAVA_HOME=/usr/lib/jvm/java-8-oracle-amd64 /usr/local/bin/idea-IC-14.1.1/bin/idea.sh
Name=Ida
Icon=/usr/local/bin/idea-IC-14.1.1/bin/idea.png
